@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul #underline{
  display: inline-block; 
  position: relative; 
  color: #ffffff ;
  cursor: pointer;
}
ul #underline::after{
  content: '';
  position: absolute; 
  width: 100%; 
  transform: scaleX(0); 
  height: 4px; 
  bottom: -4px; 
  left: 0;
  background: #0077ff;
  /* transform-origin: bottom right;  */
    /* transform-origin: bottom right; */
  transform-origin: bottom top; 
  transition: transform 0.25s ease-out; 
}
ul #underline:hover::after{
  transform: scaleX(1);
    /* transform-origin: bottom right; */
  /* transform-origin: bottom left; */
  transform-origin: bottom top; 
}
.active{
  background: #0066FF;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
          background: none;
}
::-webkit-scrollbar-thumb{
  background: gray;
}
[data-tooltip]{
  position: relative;
  cursor: default;
}
[data-tooltip]::before{
  content: attr(data-tooltip);
  position: absolute;
  width: 90px;
  display: block;
  background: #fff;
  font-size: 15px;
  padding: 6px;
  letter-spacing: 3px;
  bottom: -45px;
  box-shadow: 0px 2px 5px #0000008c;
  border-radius: 3px;
  color: #000000;
  text-align: center;
  left: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all .3s cubic-bezier(.4,0,.2,1);
}
[data-tooltip]:hover::before{
  transform: translate(0);
  opacity: 1;
  font-weight: 900;
}

nav {
  display: flex;
  width: 100%;
  background: #0a5071;
  background-image: linear-gradient(rgba(41, 41, 41, 0.7),rgba(41, 41, 41, 0.7));
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding: 16px 5px;
}
.bold{
  color: red;
  font-family: 'Sacramento',cursive;
}
.bolder{
  color: rgb(255, 111, 59);
  font-family: 'Sacramento',cursive;
}
nav .icon {
  font-size: 35px;
  font-family: 'Sacramento',cursive;
  font-weight: 800;
  padding-left: 2%;
  color: #fff;
  cursor: pointer;
}
nav ul {
  display: flex;
  list-style: none;
  margin: auto 0;
}
nav ul li {
  margin: 0 2px;
}
nav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;
}

nav .search_box {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}
nav .search_box input {
  border: none;
  outline: none;
  caret-color: #007bb4;
  border-radius: 20px ;
  height: 100%;
  padding: 0 14px;
  font-size: 18px;
  width: 350px;
  transition: all .1s;
  cursor: text;
}
input:placeholder-shown{
  background-color: rgb(192, 192, 192);
}
nav .search_box input::placeholder{
  color: #777777;
}


nav .search-btn{
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  margin-top: -.4%;
  background:#0061f3;
  margin-left: 1%;
  transition: all .2s;
}
nav .search-btn:hover{
  background: #ffffff;
}
nav .search-btn:active{
  transform: scale(.9);
}
nav .search_box span {
  color: #ffffff;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  background: none;
  height: 100%;
  padding: 10px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: all .1s;
}
nav .search_box span:hover {
  color: #007bb4;
}
nav .search_box span:hover::after {
  width: 100%;
  border-radius: 0 20px 20px 0;
}
nav .bar {
  position: relative;
  margin: auto;
  display: none;
}
.drop-btn span{
  padding-left: 2px;
}
.dropdown-menu {
  display: none;
}
.dropdown-menu ul li{
  transition: all .3s;
}
.dropdown-menu ul li:hover{
  background-color: #0066FF;
  border-radius: 8px;
}
nav ul .drop-btn:hover .dropdown-menu.show {
  display: block;
  position: absolute;
  margin-left: -48%;
  top: 115%;
  z-index: 2;
  border-radius: 9px;
  background: #0a5071;
  background-image: linear-gradient(rgba(41, 41, 41, 0.7),rgba(41, 41, 41, 0.7));
}
.menu-bar ul {
  list-style: none;
  display: flex;
}
ul .drop-btn:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}
ul .drop-btn:hover .dropdown-menu ul li {
  width: 159px;
  display: grid;
  line-height: 1.4rem;
  padding: 5px;
}


.drop-button span{
  padding-left: 2px;
}
.dropdown-menuu {
  display: none;
}
.dropdown-menuu ul li{
  transition: all .1s;
}
.dropdown-menuu ul li:hover{
  background-color: #0066FF;
  border-radius: 8px;
}
.activee{
  background-color: #0066FF;
  border-radius: 8px;
}
nav ul .drop-button:hover .dropdown-menuu.show {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: -45%;
  top: 115%;
  border-radius: 9px;
  background: #0a5071;
  background-image: linear-gradient(rgba(41, 41, 41, 0.7),rgba(41, 41, 41, 0.7));
}
.menu-barr ul {
  list-style: none;
  display: flex;
}
ul .drop-button:hover .dropdown-menuu ul {
  display: block;
  margin: 10px;
}
ul .drop-button:hover .dropdown-menuu ul li {
  width: 159px;
  display: grid;
  line-height: 1.4rem;
  padding: 5px;
}

nav .bar span {
  position: absolute;
  color: #fff;
  font-size: 35px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
}


.size{
  position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}
.background{
  max-width: 1000px;
	display: block;
  z-index: 1;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
  padding: 20px 80px 100px;
	text-align: center;
	
}
.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem ;
	font-size: 1.1rem;
  z-index: 3;
  margin-bottom: 22px;
  border-radius: 4px;
	transition: .3s;
}
.margin{
  margin-left: 60%;
  margin-top: -49%;
  transition: all .3s;
  z-index: 2;
}
.margin:hover{
  box-shadow: 0 0 4px #000000;
  padding: 8px;
  border-radius: 4px;
}
.iframe{
  height: 400px;
  margin-left: -2%;
  width: 450px;
  z-index: 1;
  margin-top: 2%;
}
h2{
	position: relative;
	padding: 0.5rem 1rem;
  font-size: 30px;
  margin-bottom: 10px;
}
h2:after{
	content: '';
    position: absolute;
    left: 50.5%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 70px;
    border-radius: 2px;
    background-color: orange;
}

textarea{
	min-height: 80px;
  resize: none;
}
.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: orange;
	color: #fff;
	font-size: 1.1rem;
  border-radius: 4px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
.btn:active{
    transform: scale(.9);
}
.loader{
  font-size: 0;
  height: 50px;
  width: 50px;
  background: transparent;
  border: 4px solid orange;
  border-radius: 50%;
  border-top-color:transparent ;
  animation: animate 1s 0.4s linear infinite;
}
@keyframes animate{
  100%{
    transform: rotate(360deg);
  }
}
.finished{
  font-size: 0;
  height: 60px;
  width: 60px;
  border: none;
  background: none;
  position: relative;
  animation: special 1s ease-in;
}
@keyframes special{
  10%{
    transform: scale(0.8) translateZ(20px);
  }
  35%{
    transform: scale(1) translateZ(0px);
  }
}
.finished:before{
  content: url(tick.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
.address{
  margin-left: -34%;
  margin-top: 3%;
}
.email{
  margin-top: -16%;
  margin-left: 33%;
}
.add{
  line-height: 3rem;
}
.add:after{
	  content: '';
    position: absolute;
    left: 39.6%;
    margin-top: 40px;
    transform: translateX(-50%);
    height: 4px;
    width: 55px;
    border-radius: 2px;
    background-color: orange;
}
.mail{
  margin-top: 3%;
}
.mail:after{
    content: '';
    position: absolute;
    left: 60.2%;
    margin-top: 30px;
    transform: translateX(-50%);
    height: 4px;
    width: 55px;
    border-radius: 2px;
    background-color: orange;
}


@media screen and (max-width: 1200px) {

  iframe{
    height: 500px;
    width: 300px;
    position: relative;
    padding-top: 30%;
    padding-right: 15%;
  }

  nav {
    display: block;
    padding: 0;
  }
  nav .icon {
    display: inline-block;
    padding: 15px 30px;
  }
  nav .search_box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  nav .search_box input {
    width: 90%;
    caret-color: #007bb4;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  nav ul li {
    text-align: center;
    transition: 0.3s 0.1s all;
    opacity: 0;
  }
  nav ul li a {
    color: #0a5071;
    font-size: 28px;
    padding: 25px;
    display: block;
    transition: all .2s;
  }
  nav ul li a:hover{
    background-color: #727272;
    width: 100%;
    color: #fff;
  }
  nav ul li:nth-child(1) {
    transform: translateX(-150px);
  }
  nav ul li:nth-child(2) {
    transform: translateX(-200px);
  }
  nav ul li:nth-child(3) {
    transform: translateX(-250px);
  }
  nav ul li:nth-child(4) {
    transform: translateX(-300px);
  }
  nav ul li:nth-child(5) {
    transform: translateX(-350px);
  }
  nav ul li:nth-child(6) {
    transform: translateX(-400px);
  }
  nav .bar {
    display: block;
    position: absolute;
    top: 20px;
    right: 65px;
    cursor: pointer;
  }
  nav .bar #times {
    display: none;
    right: -30px;
  }
  #check:checked ~ nav .bar #times {
    display: block;
  }
  #check:checked ~ nav .bar #bars {
    display: none;
  }
  #check:checked ~ nav ul {
    visibility: visible;
    height: 552px;
  }
  #check:checked ~ nav ul li:nth-child(1),
  #check:checked ~ nav ul li:nth-child(2),
  #check:checked ~ nav ul li:nth-child(3),
  #check:checked ~ nav ul li:nth-child(4),
  #check:checked ~ nav ul li:nth-child(5), 
  #check:checked ~ nav ul li:nth-child(6),
  #check:checked ~ nav ul li:nth-child(7) {
    transform: translateX(0);
    opacity: 1;
  }
}


#toggle
{
    cursor: pointer;
}

.wow.dark
{
    background: #24292d;
    color: #fff;
}
.wow.dark #toggle
{
    color: #000000;
}
.wow
{
    background: #fff;
    transition: all .4s;
}

body.night{
    background:#323840;
    color: #fff;
    transition: all .4s;
}



.div1{
  max-width: 1170px;
  margin: auto;
}
.div2{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  padding: 40px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.664),rgba(0,0,0,0.664)),url(food-backgrounds-23.jpg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 30px;
  font-weight: 600;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 3px;
  box-sizing: border-box;
  width: 51px;
}
.footer-col ul{
  padding-left: 30px;
  line-height: 30px;
}
.footer-col ul li .b{
  text-decoration: none;
  color: #a7a7a7;
  font-size: 16.2px;
  font-weight: 550;
  transition: all .4s;
}
.footer-col ul li .b:hover{
  color:  #ffffff;
  padding-left: 1.3rem;
}
.footer-col ul li .a{
  text-decoration: none;
  color: #a7a7a7;
  font-size: 16.2px;
  font-weight: 550;
  cursor: default;
}
.footer-col .social-links .b i .fa
{
  color: #222;
}
.footer-col .social-links{
  padding-left: 24px;
  font-size: 30px;
  letter-spacing: 6px;
}
.footer-col .social-links .facebook{
  color: rgb(255, 255, 255);
  padding-left: 6px;
  transition: all .4s;
}
.footer-col .social-links .facebook:hover{
  color: #1877f2;
}
.footer-col .social-links .twitter{
  color: rgb(255, 255, 255);
  padding: 7px 7px;
  transition: all .4s;
}
.footer-col .social-links .twitter:hover{
  color: #0099ff;
}
.footer-col .social-links .instagram{
  color: rgb(255, 255, 255);
  padding: 7px 7px;
  transition: all .4s;
}
.footer-col .social-links .instagram:hover{
  color: #e4405f;
}
.footer-col .social-links .youtube{
  color: rgb(255, 255, 255);
  padding-right: 7px;
  transition: all .4s;
}
.footer-col .social-links .youtube:hover{
  color: #ff0000;
}
.footer-col .social-links .linkedin{
  color: rgb(255, 255, 255);
  padding: 7px 7px;
  transition: all .4s;
}
.footer-col .social-links .linkedin:hover{
  color: #0e76a8;
}
.footer-col .social-links .wikipedia{
  color: rgb(255, 255, 255);
  padding-left: 5px;
  transition: all .4s;
}
.footer-col .social-links .wikipedia:hover{
  color: #000000;
}

.footer-bottom{
  text-align: center;
  line-height:40px;
  padding-top: 20px;
  font-size: 20px;
  color: #a7a7a7;
}

.scrolltop{
  position: fixed;
  right: .5rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  padding: .5rem;
  background: rgb(255, 145, 0);
  border-radius: 50%;
  z-index: 10;
  transition: .4s;
  visibility: hidden;
}
.scrolltop:hover{
  background-color: rgb(255, 145, 0);
}
.fa-chevron-up{
  color: #FBFEFD;
  font-size: 10px;
}
.show-scroll{
  visibility: visible;
  bottom: 1rem;
}

