@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul #underline{
  display: inline-block; 
  position: relative; 
  color: #ffffff ;
  cursor: pointer;
}
ul #underline::after{
  content: '';
  position: absolute; 
  width: 100%; 
  transform: scaleX(0); 
  height: 4px; 
  bottom: -4px; 
  left: 0;
  background:#0077ff;
  transform-origin: bottom top; 
  transition: transform 0.25s ease-out; 
}
ul #underline:hover::after{
  transform: scaleX(1);

  transform-origin: bottom top; 
}
.active{
  background: #0066FF;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
          background: none;
}
::-webkit-scrollbar-thumb{
  background: gray;
}
[data-tooltip]{
  position: relative;
  cursor: default;
}
[data-tooltip]::before{
  content: attr(data-tooltip);
  position: absolute;
  width: 90px;
  display: block;
  background: #fff;
  font-size: 15px;
  padding: 6px;
  letter-spacing: 3px;
  bottom: -45px;
  box-shadow: 0px 2px 5px #0000008c;
  border-radius: 3px;
  color: #000000;
  text-align: center;
  left: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all .3s cubic-bezier(.4,0,.2,1);
}
[data-tooltip]:hover::before{
  transform: translate(0);
  opacity: 1;
  font-weight: 900;
}
nav {
  display: flex;
  width: 100%;
  background: #0a5071;
  background-image: linear-gradient(rgba(41, 41, 41, 0.7),rgba(41, 41, 41, 0.7));
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding: 16px 5px;
}
.bold{
  color: red;
  font-family: 'Sacramento',cursive;
}
.bolder{
  color: rgb(255, 111, 59);
  font-family: 'Sacramento',cursive;
}
nav .icon {
  font-size: 35px;
  font-family: 'Sacramento',cursive;
  font-weight: 800;
  padding-left: 2%;
  color: #fff;
  cursor: pointer;
}
nav ul {
  display: flex;
  list-style: none;
  margin: auto 0;
}
nav ul li {
  margin: 0 2px;
}
nav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;
}

nav .search_box {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}
nav .search_box input {
  border: none;
  outline: none;
  caret-color: #007bb4;
  border-radius: 20px ;
  height: 100%;
  padding: 0 14px;
  font-size: 18px;
  width: 350px;
  transition: all .4s;
}
input:placeholder-shown{
  background-color: rgb(192, 192, 192);
}
nav .search_box input::placeholder{
  color: #777777;
}

nav .search-btn{
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  margin-top: -.4%;
  background:#0061f3;
  margin-left: 1%;
  transition: all .2s;
}
nav .search-btn:hover{
  background: #ffffff;
}
nav .search-btn:active{
  transform: scale(.9);
}
nav .search_box span {
  color: #ffffff;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  background: none;
  height: 100%;
  padding: 10px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: all .2s;
}
nav .search_box span:hover {
  color: #007bb4;
}

nav .search_box span:hover::after {
  width: 100%;
  border-radius: 0 20px 20px 0;
}
nav .bar {
  position: relative;
  margin: auto;
  display: none;
}


.drop-btn span{
  padding-left: 2px;
}
.dropdown-menu {
  display: none;
}
.dropdown-menu ul li{
  transition: all .3s;
}
.dropdown-menu ul li:hover{
  background-color: #0066FF;
  border-radius: 8px;
}
nav ul .drop-btn:hover .dropdown-menu.show {
  display: block;
  position: absolute;
  margin-left: -48%;
  top: 115%;
  border-radius: 8px;
  background: #0a5071;
  background-image: linear-gradient(rgba(41, 41, 41, 0.7),rgba(41, 41, 41, 0.7));
}
.menu-bar ul {
  list-style: none;
  display: flex;
}
ul .drop-btn:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}
ul .drop-btn:hover .dropdown-menu ul li {
  width: 159px;
  display: grid;
  line-height: 1.4rem;
  padding: 9px;
}


.drop-button span{
  padding-left: 2px;
}
.dropdown-menuu {
  display: none;
}
.dropdown-menuu ul li{
  transition: all .1s;
}
.dropdown-menuu ul li:hover{
  background-color: #0066FF;
  border-radius: 8px;
}
nav ul .drop-button:hover .dropdown-menuu.show {
  display: block;
  position: absolute;
  margin-left: -45%;
  top: 115%;
  border-radius: 8px;
  background: #0a5071;
  background-image: linear-gradient(rgba(41, 41, 41, 0.7),rgba(41, 41, 41, 0.7));
}
.menu-barr ul {
  list-style: none;
  display: flex;
}
ul .drop-button:hover .dropdown-menuu ul {
  display: block;
  margin: 10px;
}
ul .drop-button:hover .dropdown-menuu ul li {
  width: 159px;
  display: grid;
  line-height: 1.4rem;
  padding: 9px;
}


nav .bar span {
  position: absolute;
  color: #fff;
  font-size: 35px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
}
@media screen and (max-width: 1200px) {
  nav {
    display: block;
    padding: 0;
  }
  nav .icon {
    display: inline-block;
    padding: 15px 30px;
  }
  nav .search_box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  nav .search_box input {
    width: 90%;
    caret-color: #007bb4;
  }
  .dishes .box-container .box .stars i{
    letter-spacing: 7px;
  }
  .text{
    top: 28%;
  }
  .snacks{
    height:100%;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  nav ul li {
    text-align: center;
    transition: 0.3s 0.1s all;
    opacity: 0;
  }
  nav ul li a {
    color: #0a5071;
    font-size: 28px;
    padding: 25px;
    display: block;
    transition: all .2s;
  }
  nav ul li a:hover{
    background-color: #727272;
    width: 100%;
    color: #fff;
  }
  nav ul li:nth-child(1) {
    transform: translateX(-150px);
  }
  nav ul li:nth-child(2) {
    transform: translateX(-200px);
  }
  nav ul li:nth-child(3) {
    transform: translateX(-250px);
  }
  nav ul li:nth-child(4) {
    transform: translateX(-300px);
  }
  nav ul li:nth-child(5) {
    transform: translateX(-350px);
  }
  nav ul li:nth-child(6) {
    transform: translateX(-400px);
  }
  nav ul li:nth-child(7) {
    transform: translateX(-450px);
  }
  nav .bar {
    display: block;
    position: absolute;
    top: 20px;
    right: 65px;
    cursor: pointer;
  }
  nav .bar #times {
    display: none;
    right: -30px;
  }
  #check:checked ~ nav .bar #times {
    display: block;
  }
  #check:checked ~ nav .bar #bars {
    display: none;
  }
  #check:checked ~ nav ul {
    visibility: visible;
    height: 552px;
  }
  #check:checked ~ nav ul li:nth-child(1),
  #check:checked ~ nav ul li:nth-child(2),
  #check:checked ~ nav ul li:nth-child(3),
  #check:checked ~ nav ul li:nth-child(4),
  #check:checked ~ nav ul li:nth-child(5), 
  #check:checked ~ nav ul li:nth-child(6),
  #check:checked ~ nav ul li:nth-child(7) {
    transform: translateX(0);
    opacity: 1;
  }
}

#toggle
{
    cursor: pointer;
}

.wow.dark
{
    background: #24292d;
    color: #fff;
}
.wow.dark #toggle
{
    color: #000000;
}
.wow
{
    background: #fff;
    transition: all .4s;
}

body.night{
    background:#323840;
    color: #fff;
    transition: all .4s;
}


.home {
  height: 633px;
  background-repeat: no-repeat;
  background: center ;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(snack4.jpg);
  color: #fff;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.snacks{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.text{
  top: 48%;
  position: absolute;
  background: red;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 45px;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid red;
  transition: all 0.3s ease;
}

.text:hover{
  color: red;
  background: none;
}
.hello{
  top: 60%;
  position: absolute;
  font-weight: 600;
  color: burlywood;
  font-size: 40px;
}


.div1{
  max-width: 1170px;
  margin: auto;
}
.div2{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  padding: 40px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.664),rgba(0,0,0,0.664)),url(food-backgrounds-23.jpg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  margin-top: 30px;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 30px;
  font-weight: 600;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 3px;
  box-sizing: border-box;
  width: 51px;
}
.footer-col ul{
  padding-left: 30px;
  line-height: 30px;
}
.footer-col ul li .b{
  text-decoration: none;
  color: #a7a7a7;
  font-size: 16.2px;
  font-weight: 550;
  transition: all .4s;
}
.footer-col ul li .b:hover{
  color:  #ffffff;
  padding-left: 1.3rem;
}
.footer-col ul li .a{
  text-decoration: none;
  color: #a7a7a7;
  font-size: 16.2px;
  font-weight: 550;
  cursor: default;
}
.footer-col .social-links .b i .fa
{
  color: #222;
}
.footer-col .social-links{
  padding-left: 24px;
  font-size: 30px;
  letter-spacing: 6px;
}

.footer-col .social-links .facebook{
  color: rgb(255, 255, 255);
  padding-left: 6px;
  transition: all .4s;
}
.footer-col .social-links .facebook:hover{
  color: #1877f2;
}
.footer-col .social-links .twitter{
  color: rgb(255, 255, 255);
  padding: 7px 7px;
  transition: all .4s;
}
.footer-col .social-links .twitter:hover{
  color: #0099ff;
}
.footer-col .social-links .instagram{
  color: rgb(255, 255, 255);
  padding: 7px 7px;
  transition: all .4s;
}
.footer-col .social-links .instagram:hover{
  color: #e4405f;
}
.footer-col .social-links .youtube{
  color: rgb(255, 255, 255);
  padding-right: 7px;
  transition: all .4s;
}
.footer-col .social-links .youtube:hover{
  color: #ff0000;
}
.footer-col .social-links .linkedin{
  color: rgb(255, 255, 255);
  padding: 7px 7px;
  transition: all .4s;
}
.footer-col .social-links .linkedin:hover{
  color: #0e76a8;
}
.footer-col .social-links .wikipedia{
  color: rgb(255, 255, 255);
  padding-left: 5px;
  transition: all .4s;
}
.footer-col .social-links .wikipedia:hover{
  color: #000000;
}

.footer-bottom{
  text-align: center;
  line-height:40px;
  padding-top: 20px;
  font-size: 20px;
  color: #a7a7a7;
}

section{
  padding:2rem 9%;
}
.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}
.heading span{
  color:#ff3838;
}
.speciality .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}
.speciality .box-container .box{
  flex:1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  cursor: default;
  border-radius: .5rem;
}
.speciality .box-container .box .image{
  height:100%;
  width:100%;
  object-fit: cover;
  transition: all .3s;
  position: absolute;
  top:-100%; left:0;
}
.speciality .box-container .box .content{
  text-align: center;
  background:none;
  padding:2rem;

}
.speciality .box-container .box .content img{
  margin:1.5rem 0;
  transition: all .3s;
}
.speciality .box-container .box .content h3{
  font-size: 2.5rem;
  color:#666;
  text-transform: capitalize;
}
.speciality .box-container .box .content p{
  font-size: 1.6rem;
  color:#666;
  padding:1rem 0;
}
.speciality .box-container .box:hover .image{
  top:0;

}
.speciality .box-container .box:hover .content{
  transform: translateY(100%);

}

.dishes .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap:1.5rem;
}
.dishes .box-container .box{
  padding:2.5rem;
  overflow: hidden;
  border-radius: .5rem;
  position: relative;
  text-align: center;
  transition: all .2s;
}
.dishes .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}
.dishes .box-container .box .fa-heart{
  position: absolute;
  top:1.5rem;
  background:#eee;
  border-radius: 50%;
  height: 5rem;
  width:5rem;
  text-decoration: none;
  line-height: 5rem;
  font-size: 2rem;
  color:#666;
  transition: all .4s;
}
.dishes .box-container .box .fa-heart:hover{
  background: #ff3838;
  color:#fff;
}
.dishes .box-container .box .fa-heart{
  right:-15rem;
}
.dishes .box-container .box:hover .fa-heart{
  right:1.5rem;
}
.dishes .box-container .box img{
  height:17rem;
  margin:1rem 0;
}
.dishes .box-container .box h3{
  color:#666;
  text-transform: capitalize;
  font-size: 2.5rem;
}
.dishes .box-container .box .stars{
  padding:1rem 0;
}
.dishes .box-container .box .stars i{
  font-size: 1.8rem;
  color:#ff3838;
  letter-spacing: 5px;
}
.dishes .box-container .box span{
  color:#ff3838;
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  padding: 1rem;
  font-size: 14px;
  background: #f71000;
  border-radius: 50%;
  z-index: 10;
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: #f71000;
}

.fa-chevron-up{
  color: #FBFEFD;
}

.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}
